html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media screen and (max-width: 400px) {
    header {
        position: fixed;
        width: 100%;
        background-color: aqua;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    header p {
        text-align: center;
        background-color: darkblue;
        padding: 10px;
        margin: 0;
        color: aliceblue;
    }
    
    .aside-one {
        margin-top: 150px;
    }

    .aside-container h2 {
        margin-left: 10px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    footer h3, footer p{
        margin: 0 10px;
    }

    footer p {
        margin-bottom: 10px;
    }

   
    footer {
        background-color: aqua;
    }
}


@media screen and (min-width: 401px) and (max-width: 600px) {
    header {
        position: fixed;
        width: 100%;
        background-color: aqua;
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    header p {
        text-align: center;
        background-color: darkblue;
        padding: 20px;
        margin: 0;
        color: aliceblue;
    }

    .navigation {
        flex-grow: 1;
    }
    
    .navigation ul {
        display: flex;
        justify-content: space-around;
    }
    
    .aside-one {
        margin-top: 150px;
    }

    .aside-container h2 {
        margin-left: 10px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        margin: 0 10px;        
    }

    footer h3{
        margin: 0 10px;
        padding: 5px 0;
    }
    
    footer p {
        margin: 0 10px;
        margin-bottom: 10px;
    }

   
    footer {
        background-color: aqua;
    }
}

@media screen and (min-width: 601px) {
    header {
        position: fixed;
        width: 100%;
        background-color: aqua;
        display: flex;
        flex-direction: row;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    header p {
        text-align: center;
        background-color: darkblue;
        padding: 20px;
        margin: 0;
        color: aliceblue;
    }

    .navigation {
        flex-grow: 1;
    }
    
    .navigation ul {
        display: flex;
        justify-content: space-around;
    }
    
    .aside-one, .aside-two {
        margin-top: 100px;
        flex-grow: 1;
    }

    .aside-container h2 {
        margin-left: 10px;
    }

    .aside-container {
        display: flex;
        justify-content: space-evenly;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
        margin: 0 10px;        
    }

    footer h3{
        margin: 0 10px;
        padding: 5px 0;
    }
    
    footer p {
        margin: 0 10px;
        margin-bottom: 10px;
    }

   
    footer {
        background-color: aqua;
    }
}
