body { 
    font-size: 16px;
}

h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
    text-align: center;                        
}

ul {
    background-color: blue;
    line-height: 40px;            
}

.change {
    color: blue;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;            
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}